header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
  display: block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.main {
  display: flex;
  position: absolute;
  margin-top: 80px;
}

.column {
  display: flex;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
