header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
}

div {
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
  display: block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.main {
  position: absolute;
  margin-top: 80px;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

#phishlead {
  background-image: url("images/img-story-main.png");
  display: flex;
  height: 300px;
  width: 630px;
}

#phishlead span {
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
}

.earth {
  display: flex;
  background-image: url("images/img-story-2-tree.png");
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  height: 300px;
}

.camera {
  display: flex;
  background-image: url("images/img-story-3-camera.png");
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  height: 300px;
}
